<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fyp.umair.kidspreschoollearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".HumanBodyParts.PartsOfBodyActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".Dashboard.MainActivity"/>
        <activity
            android:name=".Habits.HabitsDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarActivities.IslamicMonths"
            android:parentActivityName=".Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalendarActivities.DaysNamesActivity"
            android:parentActivityName=".Dashboard.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CalendarActivities.MonthsNamesActivity"
            android:parentActivityName=".Dashboard.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Shapes.ShapesActivity"
            android:parentActivityName=".Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FruitsandVegetables.VegetablesActivity"
            android:parentActivityName=".Dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FruitsandVegetables.FruitsActivity"
            android:parentActivityName=".Dashboard.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Dashboard.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maths_Category.Tables.MathTables"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maths_Category.Subtraction.MathSubtraction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maths_Category.Counting.MathCounting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maths_Category.Addition.MathAddition"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Maths_Category.MathsDashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".English_Category.TraceLetters_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".English_Category.EnglishAlphabets_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".English_Category.EnglishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>